body{
  background-color: #33ff00;
}
h1{
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  }

#aboutus{
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
